<%- include('../layouts/admheader.ejs') %>
<h2 class="mt-3 mb-3 border-bottom">Daftar User</h2>
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalInput">Tambah User</button>
<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="modalInputLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
      </div>
      <div class="modal-body">
        <form action="/admin/user/add" method="post">
          <div class="mb-3 row">
            <label for="username" class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="username" id="username" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="namaLengkap" class="col-sm-3 col-form-label">Nama Lengkap</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="namaLengkap" id="namaLengkap" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password" id="password" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-sm-3 col-form-label">Role</label>
            <div class="col-sm-9">
              <select class="form-select" aria-label="Default select example" name="role" id="role" required>
                <option selected>Pilih Role</option>
                <option value="admin">Admin</option>
                <option value="dosen">Dosen</option>
                <option value="mahasiswa">Mahasiswa</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-outline-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mt-4 mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
              <th>Username</th>
              <th>Nama Lengkap</th>
              <th>Role</th>
              <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.namaLengkap %></td>
              <td><%= user.role %></td>
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEdit<%= user._id %>" id="btn-edit" data-id="<%= user._id %>" data-username="<%= user.username %>" data-namaLengkap="<%= user.namaLengkap %>" data-role="<%= user.role %>">Edit</button>
                <form action="/admin/user/delete/<%= user._id %>" method="post" class="d-inline">
                  <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Apakah Anda Yakin?')">Hapus</button>
                </form>
                <div class="modal fade" id="modalEdit<%= user._id %>" tabindex="-2" aria-labelledby="modalEditLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                      </div>
                      <div class="modal-body">
                        <form action="/admin/user/edit/<%= user._id %>" method="POST">
                          <div class="mb-3 row">
                            <label for="username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="username" value="<%= user.username %>">
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label for="namaLengkap" class="col-sm-3 col-form-label">Nama Lengkap</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="namaLengkap" value="<%= user.namaLengkap %>">
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label for="role" class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                              <select class="form-select" aria-label="Default select example" name="role">
                                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
                                <option value="dosen" <%= user.role === 'dosen' ? 'selected' : '' %>>Dosen</option>
                                <option value="mahasiswa" <%= user.role === 'mahasiswa' ? 'selected' : '' %>>Mahasiswa</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                            <button type="submit" class="btn btn-outline-primary">Simpan</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../layouts/dosenfooter.ejs') %>